<html>
    <head>
        <title>{{title}}</title>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="parent">            
            <div id="messages" class="messages"></div>
            <div class="holder">
                <textarea id="message" class="input" autocomplete="off"></textarea>  
                <input type="button" id="sendButton" class="send" value=">>" >              
            </div>
        </div>
    <script src="main.js" type="module"></script>
    </body>
</html>