<html>
    <head>
        <title>{{title}}</title>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="parent">            
            <div id="messages" class="messages"></div>
            <div class="header">
                <input type="button" id="options" class="btn" value="" style="background: url(images/optn.png)">                
            </div>                
            <div class="footer">
                <textarea id="message" class="input" autocomplete="off"></textarea>  
                <input type="button" id="sendImgButton" class="btn" value="" style="background: url(images/img.png)">   
                <input type="button" id="sendButton" class="btn" value="" style="background: url(images/send.png)">            
            </div>
        </div>
    <script src="main.js" type="module"></script>
    </body>
</html>