body{
    font-size: 16px;
    background-color: #ececec;
}
.parent{
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    background-image: url("../images/bg.png");
    padding: 10px;
    max-width: 1440px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 96%;
}
.header{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;    
}
.optn{
    background-color: #ececec;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    width: 300px;   
    border-radius: 5px;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    height: 30px;
    margin: 5px;
    justify-content: center;
    display: flex;   
}
.input{
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    outline:none; 
    white-space: pre;
    resize: none;
    height: 40px;
    width: 50%;
    min-width: 230px;
    margin: 1px;    
    overflow-x: hidden;
    overflow-y: auto;    
    margin: 2px;
}
.input::-webkit-scrollbar {
    width: 2px; 
    padding: 2px;
}  
.input::-webkit-scrollbar-track {
    background: none;
}  
.input::-webkit-scrollbar-thumb {
    border-radius: 2px;    
    background: #8b8b8b;  
}
.btn{
    border-radius: 5px;
    border: none;
    background-color: #d1d7af;
    height: 40px;
    min-width: 40px;
    margin: 2px;
    cursor: pointer;
}
.messages{
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.messages::-webkit-scrollbar {
    width: 2px;
}  
.messages::-webkit-scrollbar-track {
    background: none;
}  
.messages::-webkit-scrollbar-thumb {
    border-radius: 2px;  
    border: 3px solid #8b8b8b;  
}
.msg{
    margin: 5px;
}
.msgbody{
    min-width: 150px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    max-width: 100%;
    overflow: initial;
    padding: 5px;
    text-align: left;
    overflow-wrap: break-word;
    hyphens: auto;
}
.msgFrom{
    font-weight: bold;
    padding-left: 5px;
}
.msgText{
    padding: 5px;
}
.msgTime{
    text-align: right;
    padding-right: 5px;
    font-style: italic;
    font-size: 11px;
}